[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools.git
[submodule "datazoo-banner"]
	path = datazoo-banner
	url = https://github.com/DataZooDE/duckdb-extension-banner.git
